{% extends 'base.html' %}

{% block content %}

    {% for post in posts %}
        <div class="card mb-3" >
            <div class="row g-0">
            <div class="col-md-4">
                <img src="{{post.image.url}}" class="card-img-top rounded float-start" style="object-fit: cover; height: 500px;" alt="">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <article>
                        <h5 class="card-title">{{post.title}}</h5>
                        <p class="card-text"><small class="text-muted">{{post.created_date}} </small></p>
                    </article>
                    <div>
                        <p class="card-text">{{post.text|safe|truncatewords:"100"|linebreaks}}</p>
                        <a href="{% url 'post_detail' post.id %}">Read More</a>
                    </div>
                </div>
            </div>
            </div>
        </div>
    {% endfor %}

{% endblock content %}


